{% assign experience = site.data.data.experience %}
{% if experience %}
<section class="experience">
    <h2 class="title">Experience</h2>
    {% for exp in experience %}
    <div class="exp">
        <div class="role">
            {{exp.role}}
        </div>
        <div class="company">
            <a href="//{{exp.link}}">{{exp.link}}</a>
            &nbsp;
            {{exp.company}}
            <span class="time">{{exp.time}}</span>
        </div>
        <!-- {% if details %} -->
        <div class="details">{{exp.details | newline_to_br }}</div>
        <!-- {% endif %} -->
        <!-- {% if details-list %}
        <ul class="details-list">
            {% for list-item in exp.details-list%}
            <li>
                <div class="list-item">{{list-item}}</div>
            </li>
            {% endfor %}
        </ul>
        {% endif %} -->
    </div>
    {% endfor %}
</section>
{% endif %}