* {
    font-family: 'Helvetica', 'Arial', sans-serif;
    text-align: start;
    line-height: 1.5;
    list-style-type: circle
}

body {
    background-color: var(--bg-color);
}
li::marker {
    font-size: 0.5rem;
}
.container {
    max-width: 900px;
    min-height: 900px;
    margin: 0 auto;
    background-color: var(--bg-color-cv);
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    padding: 30px;
    margin-top: 30px;
    margin-bottom: 30px;

    .container-block {
        width: 90%;
        margin: 0 auto;
        padding: 20px;
        display: grid;
        grid-template-columns: 2fr 5fr;

        .sidebar {
            margin-right: 20px;

        }
    }
}



/* Basic tooltip styling */
[data-tooltip] {
    position: relative;
    display: inline-block;
}

[data-tooltip]::before,
[data-tooltip]::after {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease-in-out;
    position: absolute;
    z-index: 1000; /* Ensure tooltip appears above other content */
}

/* Tooltip  text */
[data-tooltip]::before {
    bottom: calc(100%);
    left: 50%;
    transform: translateX(-50%);
    content: attr(data-tooltip);
    background: black;
    color: white;
    padding: 4px 8px;
    border-radius: 4px;
    font-size: 12px;
    width: max-content;
    max-width: 200px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

/* Tooltip  arrow */
[data-tooltip]::after {
    top: 0px;
    left: 50%;
    transform: translateX(-50%);
    content: '';
    border: 5px solid transparent;
    border-top-color: black; 
}

/* Show tooltip on hover */
[data-tooltip]:hover::before,
[data-tooltip]:hover::after {
    visibility: visible;
    opacity: 1;
}