.contact {
    margin-bottom: 20px;
    .title {
        @include header;
    }
    .contact-item {
        display: flex;
        align-items: center;
        svg {
            width: 18px;
            display: inline-block;
            color: var(--fg-color);
        }
        a {
            text-decoration: none;
            padding-top: 4px;
            padding-left: 4px;
            @include body-text;
            &:hover {
                text-decoration: underline;

            }
            save {
                &:hover {
                    text-decoration: underline;
                    content: "Or just press Ctrl+S"; /* Text of the tooltip */
                    position: absolute;
                    top: 120%; /* Position it below the link */
                    left: 50%;
                    transform: translateX(-50%);
                    background-color: black;
                    color: white;
                    padding: 4px 8px;
                    border-radius: 4px;
                    visibility: visible;
                    opacity: 0;
                    transition: opacity 0.3s, visibility 0.3s;
                }
            }
        }
    }
}