.contact {
    margin-bottom: 20px;
    .title {
        @include header;
    }
    .contact-item {
        display: flex;
        align-items: center;
        svg {
            width: 18px;
            display: inline-block;
            color: var(--fg-color);
        }
        a {
            text-decoration: none;
            padding-top: 4px;
            padding-left: 4px;
            @include body-text;
            &:hover {
                text-decoration: underline;
            }
        }
    }
}

/* Basic tooltip styling */
[data-tooltip] {
    position: relative;
    display: inline-block;
}

[data-tooltip]::before,
[data-tooltip]::after {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease-in-out;
}

/* Tooltip arrow */
[data-tooltip]::before {
    position: absolute;
    bottom: calc(100% + 5px); /* Position the tooltip above the element */
    left: 50%;
    transform: translateX(-50%);
    content: attr(data-tooltip);
    background: black;
    color: white;
    padding: 4px 8px;
    border-radius: 4px;
    font-size: 12px;
}

/* Tooltip text */
[data-tooltip]::after {
    position: absolute;
    bottom: calc(100% + 5px); /* Position the tooltip above the element */
    left: 50%;
    transform: translateX(-50%);
    content: '';
    border: 5px solid transparent;
    border-top-color: black;
}

/* Show tooltip on hover */
[data-tooltip]:hover::before,
[data-tooltip]:hover::after {
    visibility: visible;
    opacity: 1;
}