.experience {
    .title {
        @include header;
    }
    .experience-item {
        margin-top: 15px;
        margin-bottom: 25px;

        .role {
            @include sub-header;
        }
        .company {
            @include body-text;
            font-weight: bold;
            .joblink {
                color: #3282b8;
            }
            .time {
                color: var(--fg-color-title-sm);
                font-weight: 100;
            }
        }
        .details {
            @include body-text;
        }
        .details-list {
            @include body-text;
        }
    }
}