.skills {
    margin-bottom: 20px;
    padding-inline-start: 0px;

    .title {
        margin-top: 20px;
        @include header;
    }
    .skill {
        @include body-text;
    }
    .skill-list {
        @include body-text;
        padding-inline-start: 16px;
    }
}
